[user]
	name = heyrict
	email = xiezh0831@yahoo.co.jp
	signingkey = 85D4F5391E021B35
[credential]
    helper = cache --timeout=3600
[commit]
	gpgsign = true
[gpg]
	program = gpg
[pull]
	rebase = false
#[https]
#    proxy = http://127.0.0.1:8123
#[http]
#    proxy = http://127.0.0.1:8123
[init]
	defaultBranch = master
