[user]
	name = heyrict
	email = xiezh0831@yahoo.co.jp
	signingkey = E81C88AEFD6C2BAD
[credential]
    helper = cache --timeout=3600
[commit]
	gpgsign = true
[gpg]
	program = gpg
[pull]
	rebase = false
#[https]
#    proxy = http://127.0.0.1:1081
#[http]
#    proxy = http://127.0.0.1:1081
[init]
	defaultBranch = master
[core]
    sshCommand = ssh -i ~/.ssh/id_ed25519_nopass
    pager = delta
[safe]
	directory = /mnt/windows/Users/xiezh/MyPrograms/renji360
	directory = /run/media/heyrict/wd23e/heyrict/orangepi3b-images/build
[protocol "file"]
	allow = always
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[interactive]
   diffFilter = delta --color-only
[delta]
   navigate = true
   line-numbers = true
   side-by-side = true
   syntax-theme = Monokai Extended Bright
[merge]
   conflictstyle = diff3
[diff]
   colorMoved = default
