@import "themes/catppuccin/macchiato.css"; /* colorscheme */

* {
  border: none;
  border-radius: 5;
  font-family: "MesloLGS Nerd Font", Arial, sans-serif;
  font-size: 13px;
  box-shadow: none;
  text-shadow: none;
  transition-duration: 0s;
}

/* Workspaces */

#workspaces {
    margin: 5px 1px 6px 1px;
    padding: 0px 5px;
    border-radius: 15px;
    border: 0px;
    font-weight: bold;
    font-style: normal;
    opacity: 0.8;
    font-size: 16px;
    color: @text;
}

#workspaces button {
    padding: 0px 2px;
    margin: 0px 2px;
    border-radius: 15px;
    border: 0px;
    background-color: @crust;
    transition: all 0.3s ease-in-out;
    opacity: 0.8;
}

#workspaces button.active {
    color: @base;
    background-color: @mauve;
    border-radius: 15px;
    min-width: 35px;
    transition: all 0.3s ease-in-out;
    opacity:1.0;
}

#workspaces button:hover {
    color: @text;
    background: @crust;
    border-radius: 15px;
    opacity:0.7;
}

/* Window */

window#waybar {
  transition-property: background-color;
  transition-duration: .5s;
  background-color: alpha(@crust, 0.8);
}

#window {
  margin: 8px 15px 8px 0px;
  padding: 2px 10px 0px 10px;
  border-radius: 12px;
  font-size:16px;
  font-weight:normal;
}

window#waybar.empty #window {
  background-color:transparent;
}

/* Taskbar */

#taskbar {
    background: @mantle;
    margin: 6px 15px 6px 0px;
    padding:0px;
    border-radius: 15px;
    font-weight: normal;
    font-style: normal;
    opacity:0.8;
    border: 3px solid @mantle;
}

#taskbar button {
    margin:0;
    border-radius: 15px;
    padding: 0px 5px 0px 5px;
}

#taskbar.empty {
    background:transparent;
    border:0;
    padding:0;
    margin:0;
}

#mode,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#idle_inhibitor,
#backlight,
#custom-storage,
#custom-spotify,
#custom-weather,
#custom-mail,
#temperature {
  margin: 0px 6px 0px 10px;
}

#clock {
  margin: 0px 16px 0px 10px;
  min-width: 30px;
}

#custom-storage.warning {
  color: @rosewater;
}

#temperature.critical,
#custom-storage.critical {
  color: @red;
}

#battery.charging {
  color: @green;
}

#battery.critical:not(.charging) {
  color: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.warning:not(.charging) {
  color: @rosewater;
  animation-name: blink;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-pixel_swift { font-size: 6px; }
#custom-pixel_swift.px-0 { padding-left: 0px; }
#custom-pixel_swift.px-1 { padding-left: 1px; }
#custom-pixel_swift.px-2 { padding-left: 2px; }
#custom-pixel_swift.px-3 { padding-left: 3px; }
#custom-pixel_swift.px-4 { padding-left: 4px; }
#custom-pixel_swift.px-5 { padding-left: 5px; }
#custom-pixel_swift.px-6 { padding-left: 6px; }
#custom-pixel_swift.px-7 { min-width: 7px; }

#tray {
  padding: 0px 10px;
  color: @lavender;
  border-radius: 15px;
  border: 3px solid @overlay0;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}
