* {
  border: none;
  border-radius: 0;
  font-family: "MesloLGS Nerd Font", Arial, sans-serif;
  font-size: 13px;
  box-shadow: none;
  text-shadow: none;
  transition-duration: 0s;
}

window {
  color: alpha(@theme_text_color, 0.7);
  background: rgba(35, 31, 32, 0);
}

window#waybar.solo {
  background: alpha(@theme_base_color, 0.51);
}

#workspaces {
  margin: 0 5px;
}

#workspaces button {
  padding: 0 5px;
  color: rgba(217, 216, 216, 0.4);
}

#workspaces button.visible {
  color: rgba(217, 216, 216, 1);
}

#workspaces button.focused {
  border-top: 3px solid rgba(217, 216, 216, 1);
  border-bottom: 3px solid rgba(217, 216, 216, 0);
}

#workspaces button.urgent {
  color: rgba(238, 46, 36, 1);
}

#mode,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#idle_inhibitor,
#backlight,
#custom-storage,
#custom-spotify,
#custom-weather,
#custom-mail,
#temperature {
  margin: 0px 6px 0px 10px;
  min-width: 20px;
}

#clock {
  margin: 0px 16px 0px 10px;
  min-width: 30px;
}

#battery.warning,
#custom-storage.warning {
  color: rgba(255, 210, 4, 1);
}

#battery.critical,
#temperature.critical,
#custom-storage.critical {
  color: rgba(238, 46, 36, 1);
}

#battery.charging {
  color: rgba(217, 216, 216, 1);
}

#custom-pixel_swift { font-size: 6px; }
#custom-pixel_swift.px-0 { padding-left: 0px; }
#custom-pixel_swift.px-1 { padding-left: 1px; }
#custom-pixel_swift.px-2 { padding-left: 2px; }
#custom-pixel_swift.px-3 { padding-left: 3px; }
#custom-pixel_swift.px-4 { padding-left: 4px; }
#custom-pixel_swift.px-5 { padding-left: 5px; }
#custom-pixel_swift.px-6 { padding-left: 6px; }
#custom-pixel_swift.px-7 { min-width: 7px; }
