# color theme
{{ theme }}

# Other config
# set title

set window-title-basename true

# enable theme
set recolor true

set scroll-step 80
set vertical-center true

map [normal] . navigate next
map [fullscreen] . navigate next
map [presentation] . navigate next

map [normal] , navigate previous
map [fullscreen] , navigate previous
map [presentation] , navigate previous

#map [normal] n navigate next
#map [fullscreen] n navigate next

#map [normal] p navigate previous
#map [fullscreen] p navigate previous

#map [normal] J scroll half-down
#map [fullscreen] J scroll half-down

#map [normal] K scroll half-up
#map [fullscreen] K scroll half-up

map [normal] w adjust_window width
map [fullscreen] w adjust_window width

map [normal] W adjust_window best-fit
map [fullscreen] W adjust_window best-fit

set database sqlite

# vim: ft=zathurarc
