toggle_dark_mode	<C-r>
close_window		q
quit		Q
copy                y
goto_toc            <tab>

open_document       <A-o>
open_document_embedded       <C-S-o>
open_document_embedded_from_current_path       o

next_page           .
previous_page       ,
screen_down         <C-f>
screen_up           <C-b>

search              /

move_left           l
move_right          h
goto_top_of_page H
goto_bottom_of_page >

prev_state          <C-o>
next_state          <C-i>

fit_to_page_width   w
fit_to_page_width_smart   W
fit_to_page_width_ratio =

set_mark            m
goto_mark           `
goto_mark           '

add_highlight		z
goto_highlight		gz
goto_highlight_g	gZ
delete_highlight	dz
goto_next_highlight  ]z
goto_prev_highlight  [z

next_chapter        ]c
prev_chapter        [c

next_preview	]p
previous_preview	[p

new_window <C-w>n
close_window <C-w>c
#goto_window <C-w><C-w>
