[Desktop Entry]
Version=1.0
Name=nnn
GenericName=nnn File Manager
X-GNOME-FullName=nnn File Manager
#Comment=Download and share files over BitTorrent
TryExec=nnn
Exec=nnn %U
#Icon=deluge
Terminal=true
Type=Application
Categories=FileManager;
StartupWMClass=nnn
#StartupNotify=false
#MimeType=application/x-bittorrent;x-scheme-handler/magnet;
#X-GNOME-UsesNotifications=true
